.dossier-holder {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dossier-container {
  height: 438px;
  width: 642px;
}

.dossier-bg {
  background: black;
  clip-path: polygon(0 1%, 1% 0, 40% 0, 50% 10%, 99% 10%, 100% 11%, 100% 99%, 99% 100%, 1% 100%, 0 99%);
  height: 100%;
  width: 100%;
  transform-origin: center;
  position: relative;
}
