.dossier-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dossier-container {
  position: relative;
  min-height: 438px;
  min-width: 642px;
  height: 438px;
  color: white;
}

.dossier-bg {
  background: black;
  clip-path: polygon(0 1%, 1% 0, 40% 0, 50% 10%, 99% 10%, 100% 11%, 100% 99%, 99% 100%, 1% 100%, 0 99%);
  height: 100%;
  width: 100%;
  transform-origin: center;
  position: relative;
}

.dossier-flag {
  position: relative;
  height: 32px;
}

.dossier-file-info {
  position: absolute;
  top: 16px;
  left: 56px;
}

.dossier-file-info-flex {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
  height: 64px;
  text-transform: uppercase;
  width: 196px;
  font-size: 26px;
  gap: 2px;
  line-height: 26px;
}

.dossier-file-info-flex > div:not(:first-child) {
  margin-top: -6px;
}

.dossier-box-holder {
  position: absolute;
  top: 25%;
  left: 4%;
  width: 69%;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.dossier-box {
  background: #3f5575;
  border: 2px solid #d2d2e3;
  border-radius: 4px;
  padding: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 88px;
}

.dossier-box-text {
  font-size: 12px;
}

.dossier-box-header {
  background: black;
  position: absolute;
  width: 96px;
  height: 24px;
  top: -10px;
  left: -10px;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  transform-origin: center;
}

.dossier-box-header {
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
}
